{{#if products.length}}
{{#each products}}
<div class="row">

  <div class="col">

    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>

      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action actions">

        <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <button type="submit" class="button btn btn-primary">Купить</button>
        </form>
        
      </div>
    </div>
  </div>

</div>
{{/each}}
{{else}}
<p>Здесть пока ничего нет</p>
{{/if}}